
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "cslider-slides-form" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="cslider-slides-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#cslider-slides-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "WidgetsCSlider", new RouteValueDictionary { { "Namespaces", "Nop.Plugin.Widgets.CSlider.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("Delete", "WidgetsCSlider", new RouteValueDictionary { { "Namespaces", "Nop.Plugin.Widgets.CSlider.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id"
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false,
                                @Html.Partial("~/Administration/Views/Shared/_GridPagerMessages.cshtml")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [ {
                                field: "Id",
                                width: 50,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Id")"
                            }, {
                                field: "Title",
                                width: 200,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Title")"
                            }, {
                                field: "Content",
                                width: 200,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Content")"
                            }, {
                                field: "Link",
                                width: 200,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Link")"
                            }, {
                                field: "PictureId",
                                width: 200,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Picture")"
                            }, {
                                field: "Order",
                                width: 50,
                                title: "@T("Plugins.Widgets.CSlider.Fields.Order")"
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<button onclick=\"javascript:OpenWindow('@Url.RouteUrl("Plugin.Widgets.CSlider.Edit")?id=#=Id#&btnId=btnRefresh&formId=cslider-slides-form', 800, 800, true); return false;\" class='btn btn-default'><i class=\"fa fa-pencil\"></i>@T("Admin.Common.Edit")</button>"
                            }, {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                width: 100
                            }]
                        });
                    });
                </script>
            </div>
            <div class="panel-footer">
                <input type="submit" id="btnAddNewOption" class="btn btn-primary" value="@T("Admin.Common.AddNew")" onclick="javascript:OpenWindow('@(Url.RouteUrl("Plugin.Widgets.CSlider.Create") + "?btnId=btnRefresh&formId=cslider-slides-form")', 800, 800, true); return false;"/>
                <input type="submit" id="btnRefresh" class="btn btn-default" style="display: none" />
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefresh').click(function () {
                        //refresh grid
                        var grid = $("#cslider-slides-grid").data('kendoGrid');
                        //grid.dataSource.page(1); //new search. Set page size to 1
                        grid.dataSource.read();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>

        </div>
    </div>
}